<div class="p-3 mb-2 bg-warning text-dark" id="body_div">
    <form [formGroup]="form">
    <table id="tab">
        <tr>
            <td>User Name: </td>
            <td><input type="text" formControlName="username"/></td>
        </tr>
        <tr>
            <td>Password: </td>
            <td><input type="password" formControlName="password"/></td>
        </tr>
        <tr>
            <td><input type="submit" value="CLEAR"/></td>
            <td>
                <button class="button button-primary" 
                    (click)="onSubmit()">LOGIN
                </button>
            </td>
        </tr>
    </table>
</form>
</div>
