<div class="p-3 mb-2 bg-warning text-dark" id="body_div">
    <h2>Add Batch</h2>
    <form [formGroup]="batchForm" (ngSubmit)="onSubmit()">
        <table id="tab">
            <tr>
                <td>BATCH CODE</td>
                <td><input type="text" id="batchCode" formControlName="batchCode"/></td>
            </tr>
            <tr>
                <td>WEIGHT</td>
                <td><input type="number" id="weight" formControlName="weight"/></td>
            </tr>
            <tr>
                <td>PRICE</td>
                <td><input type="number" id="price" formControlName="price"/></td>
            </tr>
            <tr>
                <td>MEDICINE TYPE</td>
                <td>
                    <select id="medicine" formControlName="medicine">
                        <option value="http://localhost:5000/api/medicines/1">CAPSULE</option>
                        <option value="http://localhost:5000/api/medicines/2">SYRUPS</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>REFRIGERATION</td>
                <td>
                    <input type="radio" id="yes" value=true name="refrigeration" formControlName="refrigeration"/>
                    <label for="yes">YES</label>
                    <input type="radio" id="no" value=false name="refrigeration" formControlName="refrigeration"/>
                    <label for="no">NO</label>
                </td>
            </tr>
            <tr>
                <input type="submit" value="ADD" id="b1_submit" name="b1_submit"/>
                <td><button class="button button-primary">
                    <a href="/batches/add">CLEAR</a>
                </button></td>
            </tr>
        </table>
    </form>
</div>