<div class="p-3 mb-2 bg-warning text-dark" id="body_div">
    <h2>Add Batch</h2>
    <table id="tab">
        <tr>
            <td>BATCH CODE</td>
            <td><input type="text"/></td>
        </tr>
        <tr>
            <td>MEDECINE CODE</td>
            <td><input type="text"/></td>
        </tr>
        <tr>
            <td>WEIGHT</td>
            <td><input type="text"/></td>
        </tr>
        <tr>
            <td>PRICE</td>
            <td><input type="text"/></td>
        </tr>
        <tr>
            <td>MEDECINE TYPE</td>
            <td>
                <select name="">
                    <option value="capsule">CAPSULE</option>
                    <option value="syrups">SYRUPS</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>REFRIGERATION</td>
            <input type="radio" id="yes" name="yes" value="yes">
            <label for="yes">YES</label>
            <input type="radio" id="no" name="no" value="no" checked>
            <label for="no">NO</label>
        </tr>
    </table>
    </div>